# To separate your traces from other application
LANGSMITH_PROJECT=new-agent
# LANGCHAIN_API_KEY=dummy-key
# LANGCHAIN_TRACING_V2=false
# LANGCHAIN_OFFLINE_MODE=true

# Add API keys for connecting to LLM providers, data sources, and other integrations here
